<template>
  <div class="app">
    <app-header>#movienow</app-header>
    <main class="container">
      <router-view />
    </main>
  </div>
</template>

<script setup>
import AppHeader from '@/components/AppHeader.vue';
</script>
