<template>
  <div>
    <app-filter v-model="selectedSort" />
    <hr />
    <app-movies-list :moviesArray="sortedPost" v-if="!isLoading" />
    <app-loader v-else />
  </div>
</template>

<script setup>
import AppFilter from '@/components/AppFilter.vue';
import AppMoviesList from '@/components/AppMoviesList.vue';
import { useFetchingData } from '@/hooks/useFetchingData';
import { useSortedMovies } from '@/hooks/useSortedMovies';
import { MovieService } from '@/API/MovieService';
import AppLoader from '@/components/AppLoader.vue';

const { data: movies, isLoading } = useFetchingData(MovieService.getAll());
const { selectedSort, sortedPost } = useSortedMovies(movies);
</script>
