<template>
  <div v-if="movie">
    <div class="return">
      <div class="return__arrow">
        <img src="@/assets/icons/card/arrow.svg" alt="arrowBack" />
      </div>

      <router-link class="title title_fz20 return__text" to="/">
        Назад к списку
      </router-link>
    </div>

    <hr />

    <app-movie-item :movie="movie" v-if="!isLoading" />
    <app-loader v-else />
  </div>
</template>

<script setup>
import { MovieService } from '@/API/MovieService.js';
import { useRoute } from 'vue-router';
import { useFetchingData } from '../hooks/useFetchingData';
import AppMovieItem from '../components/AppMovieItem.vue';
import AppLoader from '../components/AppLoader.vue';

const movieId = useRoute();

const { data: movie, isLoading } = useFetchingData(
  MovieService.getMovie(movieId.params.id)
);
</script>

<style lang="scss" scoped>
.return {
  display: flex;
  align-items: center;

  &__arrow {
    width: 24px;
    height: 24px;
    margin-right: 5px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__text {
    color: rgba(255, 82, 82, 0.98);
  }
}
</style>
