.title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  &_fz12 {
    font-size: 12px;
    line-height: 16px;
  }

  &_fz16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &_fz20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  &_fz32 {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
  }

  &_fz36 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
  }

  &_fz48 {
    font-weight: 700;
    font-size: 48px;
  }
}
