<template>
  <div class="filter">
    <h2 class="title title_fz32 filter__title">Фильмы</h2>
    <div class="filter__subtitle">
      <custom-checkbox value="title" @select-sort="handleCheckbox">
        Отсортировать по названию
      </custom-checkbox>

      <custom-checkbox value="year" @select-sort="handleCheckbox">
        Отсортировать по году
      </custom-checkbox>
    </div>
  </div>
</template>

<script setup>
import CustomCheckbox from '@/components/UI/CustomCheckbox.vue';

const props = defineProps({
  sortedFilter: {
    type: String,
    required: false,
  },
});
const emit = defineEmits(['update:modelValue']);

const handleCheckbox = (sort) => {
  emit('update:modelValue', sort);
};
</script>

<style lang="scss" scoped>
.filter {
  &__title {
    width: 230px;
    color: #ffffff;
  }

  &__subtitle {
    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
</style>
