<template>
  <header class="header">
    <h1 class="title title_fz48 header__title">
      <slot></slot>
    </h1>
  </header>
</template>

<script setup></script>

<style lang="scss" scoped>
.header {
  width: 100%;
  height: 100px;

  background: rgba(250, 40, 40, 0.98);
  box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.28);

  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin-top: 36px;

    width: 366px;
    height: 48px;

    letter-spacing: 0.21em;
    text-transform: uppercase;
  }
}
</style>
