<template>
  <div class="cssload">
    <ul class="cssload__container">
      <li>
        <span class="cssload__loading"></span>
      </li>
    </ul>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
.cssload {
  * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  margin: 250px auto 0 auto;
  max-width: 545px;

  ul li {
    list-style: none;
  }

  &__container {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: space-around;

    li {
      padding: 10px;
      height: 120px;
      width: 120px;
      margin: 29px 19px;
      position: relative;
      text-align: center;
    }
  }

  &__loading {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 4px solid transparent;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-left: 4px solid rgb(0, 0, 0);
    animation: cssload-spinR 2.3s linear infinite;
    -o-animation: cssload-spinR 2.3s linear infinite;
    -ms-animation: cssload-spinR 2.3s linear infinite;
    -webkit-animation: cssload-spinR 2.3s linear infinite;
    -moz-animation: cssload-spinR 2.3s linear infinite;

    &:before,
    &:after {
      content: '';
      display: block;
      border-radius: 100%;
      -o-border-radius: 100%;
      -ms-border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      position: absolute;
    }

    &:before {
      height: 80px;
      width: 80px;
      border: 3px solid transparent;
      border-top: 3px solid rgba(250, 40, 40, 0.98);
      border-right: 3px solid rgba(250, 40, 40, 0.98);
      animation: cssload-spinL 0.86s linear infinite;
      -o-animation: cssload-spinL 0.86s linear infinite;
      -ms-animation: cssload-spinL 0.86s linear infinite;
      -webkit-animation: cssload-spinL 0.86s linear infinite;
      -moz-animation: cssload-spinL 0.86s linear infinite;
      transform-origin: center center;
      -o-transform-origin: center center;
      -ms-transform-origin: center center;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      top: 10%;
      left: 10%;
    }
  }
}

@keyframes cssload-spinR {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spinR {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spinR {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spinR {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spinR {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes cssload-spinL {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@-o-keyframes cssload-spinL {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(-360deg);
  }
}

@-ms-keyframes cssload-spinL {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
  }
}

@-webkit-keyframes cssload-spinL {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes cssload-spinL {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
</style>
