<template>
  <div class="card" v-if="movie.id">
    <div class="card__img">
      <img :src="movie.poster" :alt="movie.title" />
    </div>

    <div class="card__content">
      <div class="card__title-section">
        <router-link
          :to="`/movie/${movie.id}`"
          class="title title_fz32 card__title"
        >
          {{ movie.title }}
        </router-link>

        <span class="card__duration" v-if="movie.collapse?.duration">
          <b class="title title_fz12">{{ setZero() }}</b>
          <img src="@/assets/icons/card/movie-icon.svg" alt="movie-icon" />
        </span>
      </div>

      <div class="card__info">
        <b class="title title_fz12">
          {{ movie.year }},

          <strong v-if="movie.genres">{{
            movie.genres.map((genre) => genre).join(', ')
          }}</strong>
        </b>
        <b class="title title_fz12" v-if="movie.directors">
          режиссёр:
          {{ movie.directors.map((director) => director).join(', ') }}</b
        >
        <div class="card__actors-section" v-if="movie.actors">
          <b class="title title_fz12"> Актёры: </b>
          <span class="title title_fz12 card__actors">{{
            movie.actors.map((actor) => actor).join(', ')
          }}</span>
        </div>

        <p class="title title_fz16 card__description">
          {{ movie.description }}
        </p>
      </div>
    </div>
  </div>
  <h2 class="title title_fz32 error" v-else>
    К сожалению, по вашему запросу ничего не найдено...
  </h2>
</template>

<script setup>
const props = defineProps({
  movie: {
    type: Object,
    required: false,
    default: () => {},
  },
});

const setZero = () => {
  const totalDuration = props.movie.collapse.duration?.join('').split('/')[0];
  const duration = props.movie.collapse.duration?.join('').split('/')[1];

  if (!duration) {
    return totalDuration;
  }

  return `${totalDuration} / ${duration}:00`;
};
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  min-height: 168px;

  background: #4d4747;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  margin-bottom: 24px;

  transition: 0.5s all;

  &__img {
    min-width: 168px;
    min-height: 168px;
    background-color: #c4c4c4;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 112px;
      height: auto;
      object-fit: cover;
    }
  }

  &__title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #ffffff;
    margin-bottom: 12px;
    text-decoration: none;
  }

  &__duration {
    min-width: 125px;
    height: 30px;

    background-color: #c4c4c4;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;
    right: -8px;

    b {
      line-height: 12px;
      margin-right: 10px;
    }

    img {
      width: 20px;
      height: 20px;
    }

    &:before {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      left: -12px;

      z-index: -1;

      width: 15px;
      height: 30px;

      -webkit-transform: skew(-10deg);
      -moz-transform: skew(-10deg);
      transform: skew(-10deg);
      background-color: #c4c4c4;
    }

    &:after {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      right: -24px;

      z-index: -1;

      width: 24px;
      height: 30px;

      background-color: #c4c4c4;
    }
  }

  &__content {
    width: 100%;
    padding: 32px 32px 32px 24px;
  }

  &__info {
    b {
      margin-top: 2px;
      line-height: 12px;
      text-transform: uppercase;
      color: #988f8f;
      margin-bottom: 8px;
    }
  }

  &__actors-section {
    display: flex;
  }

  &__actors {
    max-width: 1117px;
    font-size: 12px;
    font-weight: 400;
    color: #e5e5e5;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  &__description {
    color: #e5e5e5;
  }
}

.error {
  color: #ffffff;
}
</style>
