<template>
  <app-movie-item
    v-for="movie in moviesArray"
    :key="movie.id"
    :movie="movie"
    class="hover__el"
  />
</template>

<script setup>
import AppMovieItem from '@/components/AppMovieItem.vue';
const props = defineProps({
  moviesArray: {
    type: Array,
    required: false,
    default: () => [],
  },
});
</script>

<style lang="scss" scoped>
.hover__el {
  position: relative;

  &:hover {
    top: -8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.35);
  }
}
</style>
