<template>
  <div>
    <label class="title title_fz16 checkbox">
      <input
        class="checkbox__input"
        type="radio"
        name="sort"
        :value="value"
        v-model="sortedBy"
        @change="handleChange"
      />
      <span class="checkbox__custom"></span>
      <slot></slot>
    </label>
  </div>
</template>

<script setup>
import { ref } from 'vue';

const props = defineProps({
  value: {
    type: String,
    required: true,
  },
});
const emit = defineEmits(['selectSort']);

const sortedBy = ref('');

const handleChange = () => {
  emit('selectSort', sortedBy.value);
};
</script>

<style lang="scss" scoped>
.checkbox {
  position: relative;
  padding-left: 25px;

  color: #c4c4c4;

  &:first-child {
    margin-right: 32px;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__custom {
    position: absolute;
    top: 3px;
    margin-left: -25px;
    width: 15px;
    height: 15px;
    background: none;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    transition: 0.5s all;
  }

  // Checked

  &__input:checked + &__custom {
    background: url('@/assets/icons/checkbox/check.svg') no-repeat center center
      rgba(255, 82, 82, 0.98);
    border: 1px solid rgba(255, 82, 82, 0.98);
  }
}
</style>
