@import '@/styles/libs/bootstrap-reboot.min.css';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  color: #000000;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  color: #000000;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  color: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #363232;
}

hr {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  opacity: unset;

  margin-bottom: 48px;
}

.container {
  max-width: 1400px;
  margin: 40px auto;
}

// Blocks
@import 'blocks/title';
